//! **************************************************************************
// Written by: Map P.28xd on Mon Feb 24 11:30:41 2014
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "isAuto" LOCATE = SITE "N3" LEVEL 1;
PIN isAuto_pin<0> = BEL "isAuto" PINNAME PAD;
PIN "isAuto_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "nextStage_BUFGP/IBUFG" BEL "nextStage_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

